Source: ros-lunar-pointgrey-camera-driver
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), curl, dpkg, libcurl4-openssl-dev, libraw1394-dev, libusb-1.0-0-dev, ros-lunar-camera-info-manager, ros-lunar-catkin, ros-lunar-diagnostic-updater, ros-lunar-dynamic-reconfigure, ros-lunar-image-exposure-msgs, ros-lunar-image-transport, ros-lunar-nodelet, ros-lunar-roscpp, ros-lunar-roslaunch, ros-lunar-roslint, ros-lunar-sensor-msgs, ros-lunar-wfov-camera-msgs
Homepage: http://ros.org/wiki/pointgrey_camera_driver
Standards-Version: 3.9.2

Package: ros-lunar-pointgrey-camera-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libraw1394-dev, libusb-1.0-0-dev, ros-lunar-camera-info-manager, ros-lunar-diagnostic-updater, ros-lunar-dynamic-reconfigure, ros-lunar-image-exposure-msgs, ros-lunar-image-proc, ros-lunar-image-transport, ros-lunar-nodelet, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-stereo-image-proc, ros-lunar-wfov-camera-msgs
Description: Point Grey camera driver based on libflycapture2.
